/* src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #282c34;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.product-card p {
  margin: 5px 0;
}

button {
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}
